$background-block-color:  #f4f4f4;
$block-text-font: 'Yanone Kaffeesatz', sans-serif;
$block-text-color: #303030;


.tie-block {
    margin: 0 auto;
    background: $background-block-color;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.4)
}

.spread {
   display: inline-block;
   position: relative;
}

.ties {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    list-style-type: none;
}

.tie .title1 {
    margin: 5px -5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: $block-text-color;
}

h2 {
    font-size: 4em;
    font-family:$block-text-font;
    font-weight: normal;
    text-align: center;
    color: $block-text-color;
    padding: 20px;
}
